## Java
*.class
*.war
*.ear
hs_err_pid*
*.log

## Eclipse
.classpath
.project
.metadata
/prj/.classpath
/prj/.project
/prj/.metadata
/prj/.recommenders
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch

## don't push my secrets
/bin/